.hero{
    position: relative;
    width: 100vw;
}

.title{
    overflow: hidden;
    position: absolute;
    top: 4.40vw;
    left: 0;
}
.title span{
    display: block;
    transform: translateY(120%) rotate(10deg);
}

.info{
    display: flex;
    align-items: center;
    padding-top: 34.375vw;
}

.paragraph{
    overflow: hidden;
}
.paragraph span{
    display: block;
    transform: translateY(300%);
}

@media screen and (max-width: 490px) {
    .hero{
        height:171.538vw;
    }

    .title{
        top: 33.077vw;
        font-size: 23.141vw;
        left: 50%;

        transform: translate(-50%, -0%);
    }

    .info{
        flex-direction: column;
        align-items: baseline;
        gap: 3.846vw;
        padding-top: 80.769vw;
       
    }
    .info svg{
        display: none;
    }

    .paragraph{
        font-size: 6.41vw;
    }

}