.hero{
    height: 25.93vw;
}

.title{
    overflow: hidden;
    position: absolute;
    top: 4.40vw;
    left: 0;
}
.title span{
    display: block;
    transform: translateY(120%) rotate(10deg);
}

.info{
    display: flex;
    align-items: center;
    padding-top: 34.375vw;
}

.paragraph{
    overflow: hidden;
}
.paragraph span{
    display: block;
    transform: translateY(300%);
}

@media screen and (max-width: 490px) {
    .hero{
        height: 669px;
    }

    .title{
        top: 129px;
        font-size: 90.25px;
        left: 50%;

        transform: translate(-50%, -0%);
    }

    .info{
        flex-direction: column;
        align-items: baseline;
        gap: 15px;
        padding-top: 315px;
       
    }
    .info svg{
        display: none;
    }

    .paragraph{
        font-size: 25px;
    }

}